<form class="elementor-form" id="bizplanner-form">
  <div class="question-row">
    <img src="{{avatar}}" class="avatar" />
    <div class="question-column">
      {{{html}}}
      <div class="footer elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
        <button type="submit" class="elementor-button elementor-size-sm" id="form-submit"><span><span class="elementor-button-text">Save</span></span></button>
      </div>
    </div>
  </div>

</form>