<div class="elementor-element elementor-widget elementor-widget-button nextprevbuttons{{#if url}}{{else}} inactive{{/if}}">
  <div class="elementor-widget-container">
    <div class="elementor-button-wrapper">
      <a class="elementor-button elementor-size-sm" role="button" href="{{url}}">
        <span class="elementor-button-content-wrapper">
          <span class="elementor-button-icon elementor-align-icon-left"><i aria-hidden="true" class="fas fa-arrow-alt-circle-left"></i></span>
          <span class="elementor-button-text">Previous{{#if pagename}}: {{pagename}}{{/if}}</span>
        </span>
      </a>
    </div>
  </div>
</div>