<div class="alert alert-{{type}} {{css_classes}} fade show" role="alert">
  {{#if title}}<h4 class="alert-heading">{{title}}</h4>{{/if}}
  {{{description}}}
  {{#if dismissable}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  {{/if}}
</div>